//out:temp.css
.partners {
    min-height: 489px;
    background-color: rgba(17, 17, 17, 0.7);
    background-image: url(../img/bg_photo_11122.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 140px 404px 139px 406px;
    padding-right: 21.04%;
    padding-left: 21.14%;  
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    &__link:hover{
        opacity: 0.7;
    }
    &__link:active{
        opacity: 0.4;
    }
    
    
}

